 <div class="login-container">
  <div id="left-side">

  </div>
  <div id="right-side">
  <span class="login-start">
    <span class="frame1000002762-text"><span>Login</span></span>
    <div class="frame1000002762-group18096">
      <img
        src="../assets/playground_assets/rectangle4143439-vsr7-200h.png"
        alt="Rectangle4143439"
        class="frame1000002762-rectangle4143"
      />
      <span class="frame1000002762-text02"><span>Mobile Number</span></span>
      <img
        src="../assets/playground_assets/image120441-si6p-200h.png"
        alt="image120441"
        class="frame1000002762-image120"
      />
      <span class="frame1000002762-text04">
        <span>+44 (783) 986 8786</span>
      </span>

      <img
        src="../assets/playground_assets/vector10443-gch.svg"
        alt="Vector10443"
        class="frame1000002762-vector10"
      />
    </div>
    <div class="frame1000002762-group17532">
      <div class="frame1000002762-group17531">
        <div class="frame1000002762-group17580">
          <span class="frame1000002762-text06"><span>Get OTP</span></span>
        </div>
      </div>
    </div>
    <span class="frame1000002762-text08"><span>OR</span></span>
    <div class="frame1000002762-continuewith-facebook-centre-fixed">
      <div class="frame1000002762-frame6">
        <img
          src="../assets/playground_assets/facebooklogoi450-1lpf.svg"
          alt="FacebookLogoI450"
          class="frame1000002762-facebook-logo"
        />
        <span class="frame1000002762-text10">
          <span>Sign In with Facebook</span>
        </span>
      </div>
    </div>
    <div class="frame1000002762-continuewith-google-centre-fixed">
      <div class="frame1000002762-frame61">
        <div class="frame1000002762-google-logo">
          <div class="frame1000002762-logogoogleg48dp">
            <img
              src="../assets/playground_assets/shapei451-6h4r.svg"
              alt="ShapeI451"
              class="frame1000002762-shape"
            />
            <img
              src="../assets/playground_assets/shapei451-ypg9.svg"
              alt="ShapeI451"
              class="frame1000002762-shape1"
            />
            <img
              src="../assets/playground_assets/shapei451-qnbc.svg"
              alt="ShapeI451"
              class="frame1000002762-shape2"
            />
            <img
              src="../assets/playground_assets/shapei451-5g6.svg"
              alt="ShapeI451"
              class="frame1000002762-shape3"
            />
          </div>
        </div>
        <span class="frame1000002762-text12">
          <span (click)="authApp()">Sign In with Google</span>
        </span>
      </div>
    </div>
    <span class="frame1000002762-text14 Button_text">
      <span class="frame1000002762-text15">
        By singing in, you agree to our
        <span [innerHTML]="rawjdvn"></span>
      </span>
      <span class="frame1000002762-text16">terms &amp; condition</span>
      <span class="frame1000002762-text17">
        and
        <span [innerHTML]="raw4s4t"></span>
      </span>
      <span>privacy policy</span>
    </span>
</span>
</div>
</div>

