.header{
  background: #FFFFFF;
  border-bottom: 1px solid rgba(151, 150, 161, 0.3);
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 140%;
/* or 50px */


/* Greys/Blue Grey/900 */

color: #151D48;
}

 .notifications{
background: #FFFAF1;
border-radius: 8px;

/* Supporting Color/Yellow */
background: #FFA412;



/* State Colors/Error */
background: #EB5757;

 }
//  :host {
//   position: fixed;
//   width: 100%;
//  }
