<div class="grid ">
  <div class="col-6 product-name px-5 py-5">
    <div class="field ">
      <label for="firstname1" class="des-label">Product Title</label>
      <input id="ptitle" type="text"  class="w-11 h-3rem food-field">
  </div>
  <div class="min-w-full field col-12">
    <label for="address" class="des-label">Description</label>
    <textarea id="address" type="text" rows="21" class="w-11 food-field" placeholder="tesing dthe "></textarea>
</div>
<div>
  <button pButton type="button" label="Primary" class="p-button-outlined"></button>
</div>
  </div>
  <div class="col-6 ">
    <div class="product-cost">

    </div>
    <div class="product-images">

    </div>
  </div>
</div>
