@import "src/styles";

%box-shodowofinner {
  box-shadow: 15px 20px 45px rgba(233, 233, 233, 0.25);
  border-radius: 10px;
}

%addminusbtn {
  border: 1px solid $primary-color;
filter: drop-shadow(0px 20px 30px #EEF0F2);
border-radius: 17px;
border: 1.5px solid $primary-color;
width: 30.6px;
height: 30.6px;
display: inline-block;
}

.input-label {
  border: 1px solid $border-color;
}

.product-name {
  @extend %box-shadow;
  // width: 50%;
  // height: 636px;
}

.product-cost {
  width: auto;
  height: auto;
  @extend %box-shadow;
  margin-left: 3%;
}

.product-images {
  width: auto;
  height: 46%;
  @extend %box-shadow;
  margin-top: 5%;
  margin-left: 3%;
}

.productinput-field {
  background: $whiteinCapital;
  border: 1px solid $fieldlabelcolor ;
  @extend %box-shodowofinner;
}

.form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $fieldlabelcolor ;
}

textarea::placeholder {
  font-weight: 400;
  color: $inputplaceholder;
}

.ptitle:focus {
  background: $whiteinCapital ;
  outline: none;
  border: 1px solid $primary-color !important;
  @extend %box-shodowofinner;
}

.input {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: $inputtextcolor;
  font-size: Max(16px, 1em);
  padding: 0.35em 0.5em;
}

.input-textarea {
  // font-family: inherit;
  // font-style: normal;
  // color: $inputtextcolor;
}

.p-button.p-button-outlined {
  background: $whiteinCapital;
  border: 1px solid $primary-color;
  box-shadow: 15px 20px 45px rgba(233, 233, 233, 0.25);
  border-radius: 10px;
  color: $primary-color;
}

.p-button.p-button-outlined:enabled:hover {
  background: $whiteinCapital;
  border: 1px solid $primary-color;
  box-shadow: 15px 20px 45px rgba(233, 233, 233, 0.25);
  border-radius: 10px;
  color: $primary-color;
}
.plus-btn{
 @extend %addminusbtn;
background-color: $primary-color;
}
.minus-btn {
 @extend %addminusbtn;
}

.plus-custom{
  padding-left: 5px;
  padding-top: 6px;
  color: $whiteinCapital;

}

.minus-custom {
  padding-left: 5px;
  padding-top: 6px;
  color: $primary-color;
}
.line {
width: 20.8px;
height: 0px;
border: 1px solid $primary-color;
margin: 3px;
display:inline-block;
border-top: 0;
}

.line:hover {
  width: 20.8px;
  height: 0px;
  border: 1px solid $primary-color;
  margin: 3px;
  display:inline;
  border-top: 0;
  color: red;
  }


  .image-container {
  ///  background: url(image);
    width: 5vw;
    height: 5vw;
    border: 1px solid #EEEEEE;
    filter: drop-shadow(15px 20px 45px rgba(233, 233, 233, 0.25));
    border-radius: 10px;
    background: #EEEEEE;
border: 1px dashed #9A9FAE;
box-shadow: 15px 20px 45px rgba(233, 233, 233, 0.25);
border-radius: 10px;
  }
