@import 'primeflex/primeflex.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "src/styles";

// $form-label-primary-color: rgba(215, 219, 224, 1);
.mybutton {
  @include styleclass('bg-blue-500 text-white hover:bg-blue-600 border-round transition-colors transition-duration-150 p-3 border-none');
}

.container {
  display: flex;
  padding: 0;
  margin: 0;
  // overflow-y: scroll;
  // height: 100%;
}

.left-half {
  // flex-basis: 25%;
  padding-left: 6rem;
  padding-right: 6rem;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
 // overflow-x: hidden;

  padding-top: 20px;
}

.right-half {
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 1.2%;
  margin-right: 1%;
  margin-bottom: 1%;
 // flex-basis: 75%;
  // margin-left: 20vw;
  position: relative;
  left: 26vw;
}

.label-cus {
  @extend %font-level-400;
}

.button-selected {
  @extend %font-level-600;
  line-height: 27px;
  color: $whitecolor;
  background: $primary-color;
  border-radius: 16px;
}

.maintitle {
  flex: 1;
  padding-left: 1rem;
  padding-top: 1rem;
}

.menu-inner-icon-heigth {
  width: 32px;
  height: 32px;
}

.left-align-icon {
  position: relative;
  right: 6%;
}
