<!-- <div class="grid min-h-screen row-gap-4  px-5 py-5 column-gap-5">
    <div class="pl-3 pr-3 col-7 product-name flex flex-row gap-4 my-4">
      <span class="products-dash mt-8"></span>
      <span class="products-interest mt-8"></span>
      <div class="products-draft mt-8"></div>
      <div class="products-expired mt-8"></div>

    </div>
    <div class="col-4 product-name">
      <div class="product-cost">

      </div>
    </div>
    <div class="col-7 product-name">6</div>
    <div class="col-4 product-name">6</div>
</div> -->
<div class="grid min-h-screen ">
  <div class="col-8 px-5 ">

    <div class="dash1container flex flex-row gap-4 my-4 ">

       <span class="products-dash mt-8"></span>
       <span class="products-interest mt-8"></span>
       <div class="products-draft mt-8"></div>
       <div class="products-expired mt-8"></div>
    </div>
    <div class="expiring-soon ">

    </div>
  </div>
  <div class="col-4">
    <div class="dash1container3">
        <div class="store col-12 pt-4 pl-4">store</div>
        <div class="storeimage col-12 ">
          <img  class="storeimagess" src="../../assets/store1.png" >
        </div>
        <div class="storeaddress pl-4">
          <div class="grid" >
          <div class="col-2">
            <img class="storeicon" src="../../assets/macdo.png" alt="">
          </div>
          <div class="col-9">
            <span class="storemainname"> Mc Donold's</span>
            <div class="postalcode"> 1A Ludgate Hill, Londan ECA4M,  7AA</div>
          </div>

        </div>
        </div>
    </div>
    <div class="most-interestdata">

    </div>
  </div>
</div>
