/* You can add global styles to this file, and also import other style files */

$card-background: #FAFBFC;
html,
body,
app-root {
  height: 100%;
  width: 100%;
  margin: 0;
  background: $card-background;
}
html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

.button-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
}

.background-color-1 {
  background: rgba(250, 251, 252, 1);
}

.orange-color-palate {
  background: rgba(254, 114, 76, 1);
}
.orange-shadow {
  box-shadow: 0px 20px 50px 0px rgba(55, 69, 87, 0.1);
}

.orange-primary {
  background: #fe724c;
}

.menu-active-inner-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.menu-item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #9796a1;
}
